<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz.</h1>

            <p class="lead">
                Son projelerimde, ASP.NET MVC gibi modern web teknolojilerini kullanarak çeşitli web uygulamaları geliştirdim. 
                Bu projelerde, kullanıcı dostu arayüzler ve güvenli veri yönetimi ile yüksek performanslı sistemler oluşturmayı hedefledim. 
                
            </p>

        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/portfolio/gallery/aa.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                            <img src="/hola-master/images/portfolio/aa.jpg"
                                 srcset="/hola-master/images/portfolio/aa.jpg 1x, /hola-master/images/portfolio/beetle@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            EkoTarım Projesİ
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                   
                </div> <!-- end item-folio -->

            </div> <!-- end masonry__brick -->

           

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/portfolio/gallery/g-log.jpg" class="thumb-link" data-size="1050x700">
                            <img src="/hola-master/images/portfolio/log.jpg"
                                 srcset="/hola-master/images/portfolio/log.jpg 1x, /hola-master/images/portfolio/salad@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Admin Giriş Formu
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/portfolio/gallery/organik.jpg" class="thumb-link" data-size="1050x700">
                            <img src="/hola-master/images/portfolio/organik.jpg"
                                 srcset="/hola-master/images/portfolio/organik.jpg 1x, /hola-master/images/portfolio/woodcraft@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Organik Besinler Sİtesİ
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            


        </div>
    </div> <!-- end masonry -->

</section>
